 <nav class="round black">
    <div class="nav-wrapper center">
      <div class="row">
        <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Sign up</a>
        <a href="#!" class="breadcrumb">Login</a>
      </div>
      </div>
    </div>
  </nav>