<footer class="page-footer blue darken-3">
  <h5 class="center text">TechInSchools ... making a difference one teacher at a time.</h5>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="text">Company Bio</h5>
        <h5 class="text" style="font-style: italic">We are a team of developers working hard on this project though we are full-time employees
          we are working hard towards our goal and achievement.  We are always looking to expand our develompent team!</h5>


      </div>
      <div class="col l3 s12">
      </div>
      <div class="col l3 s12 blue darken-3">
        <br>
        <h5 class="text">Connect With Us</h5>
        <i class="fab fa-facebook-square" style="font-size:38px;color:black"></i>
        <i class="fab fa-instagram" style="font-size:38px;color:black"></i>
        <i class="fab fa-linkedin-square" style="font-size:38px;color:black"></i>
        <i class="fab fa-pinterest-square" style="font-size:38px;color:black"></i>
        <i class="fab fa-twitter-square" style="font-size:38px;color:black"></i>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      <p class="white-text">@ Copyright 2018</p>
    </div>
  </div>
</footer>