<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">TechInSchool</a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
        <i class="fa fa-bars"></i>
      </a>
      <!-- right nav-->
      {{#if user}}
     
      <ul class="right hide-on-small-only">
        <li>
           <p>Welcome! {{user.firstname}} {{user.lastname}}</p>
        </li>
        <li>
          <a href="/logout" class="fa fa-sign-out">Sign Out</a>
        </li>
      </ul>
      {{else}}
      <ul class="right hide-on-small-only">
        <li>
          <a href="/login"><span class="fa fa-user"></span> Local Login</a>
        </li>
        <li>
          <a href="/signup"><span class="fa fa-sign-in"></span> Local SignUp</a>
        </li>
      </ul>
      {{/if}}
      <!-- side nav-->
      <ul class="side-nav" id="main-menu">
        {{#if user}}
        <li>
          <a href="/logout" class="btn red darken-1">Sign Out</a>
        </li>
        {{else}}
        <li>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        </li>
        <li>
          <a href="/signup" class="btn btn-default"><span class="fa fa-sign-in"></span> Local SignUp</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>