<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta http-equiv="X-UA-Compatible" content="ie=edge">

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
       
       <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
        </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
       <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

       {{!-- Bootstrap, Font Awesome, and Stylesheets --}}
       <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" href="/css/style.css">
      
       {{!-- JQuery and Bootstrap Script --}}
       <script
           src="https://code.jquery.com/jquery-3.2.1.js"
           integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
           crossorigin="anonymous">
       </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

       <title> Contact Us </title>
   </head>
   <body>
       <main>
           <div class="container" id="contact-form">
               {{!-- Implement header here. --}}
               <p> Michael is trying his best to own this page </p>
              
               {{!-- Form --}}
               <form>
                   <div class="row">
                       <div class="col-6">
                           <h4> Name : </h4>
                           <input type="text">
                       </div>
                       <div class="col-6">
                           <h4> Email : </h4>
                           <input type="email">
                       </div>
                       <div class="col-12">
                           <h4> Subject : </h4>
                           <input type="subject">
                       </div>
                       <div class="col-12">
                           <h4> Message : </h4>
                           <textarea> </textarea>
                       </div>
                       <button class="btn btn-success" id="sendEmail"> SEND </button>
                   </div>
               </form>
           </div>
       </main>
   </body>

</html>