<a class="waves-effect waves-light social-icon btn facebook">
<i class="fa fa-facebook"></i></a>

<a class="waves-effect waves-light social-icon btn instagram">
<i class="fa fa-instagram"></i></a>

<a class="waves-effect waves-light social-icon btn pinterest">
<i class="fa fa-pinterest"></i></a>

<a class="waves-effect waves-light social-icon btn twitter">
<i class="fa fa-twitter"></i></a>


                      