
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#imageEd {
  position: relative;
  bottom: 300px;

}

.border {
  border: 1px solid black;
  border-style: dashed;
}

.center {
  align-items: center;
}

/* Contact Form */
#contact-form {
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}

#contactHeader {
  font-size: 1.25vw;
  text-align: center;
}

#sendEmail {
  display: block;
  margin: 0 auto;
  width: 20%;
}

h4.thick {
  font-size: 10px;
  font-weight: bold;
  color: darkblue;
  letter-spacing: 0.1em;
  padding: 8px;
}
h5 {
  font-style: italic;
  font-style: bold;
}
h6.thick {
  font-size: 10px;
  font-weight: bold;
  color: black;
}

input {
  margin: 20px;
  width: 100%;
}

textarea {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
}

.brand {
  margin-left: 50px;
}
/* Attendance Page */
.selectClass {
  display: block;
  height: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 80%;
}

/* styles css */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.pad {
  padding: 50px 0px 0px 0px;
  margin: 50px 0px 0px 0px;
}
 nav ul a,
 nav .brand-logo {
   color:yellow;
 }
 
 p {
   line-height: 2.5rem;
   color:white;
 }
 
 .sidenav-trigger {
   color: yellow;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #imageEd {
    width: 100%;
    clear: both;
  }
  
  #imageLearn {
   width: 100%;
   clear: both;
  }
  
  #imageRead {
   width: 100%;
   clear: both;
  }
  a {
   color: red;
   font-style: bold;
  }
  #index-banner .section {
    top: 10%;
  }
  
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #imageEd {
   position: relative;
   top: 100px;
   width: 100%;
   clear: both;
  }
  
  #imageLearn {
  width: 100%;
  clear: both;
  }
  
  #imageRead {
  width: 100%;
  clear: both;
  }
  a {
  color: red;
  }
}

.icon-block {
  padding: 0 15px;
  border: solid;
  height: 450px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  color: yellow;
}

#imageEd {
 width: 100%;
 clear: both;
}

#imageLearn {
width: 100%;
clear: both;
}

#imageRead {
width: 100%;
clear: both;
}
a {
color: red;
}
@media only screen and (min-width : 992px) {
  #index-banner .section {
    top: 0;
  }
  #imageEd {
   width: 100%;
   clear: both;
  }
  
  #imageLearn {
  width: 100%;
  clear: both;
  }
  
  #imageRead {
  width: 100%;
  clear: both;
  }
  a {
  color: red;
  }
}