body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.border {
  border: 1px solid black;
  border-style: dashed;
}

.center {
  align-items: center;
}

.cards {
  width: 200px;
  height: 200px;
}

/* Contact Form */
#contact-form {
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}

#contactHeader {
  font-size: 1.25vw;
  text-align: center;
}

#sendEmail {
  display: block;
  margin: 0 auto;
  width: 20%;
}

h4 {
  font-size: 18px;
  letter-spacing: 0.1em;
  padding: 10px;
}

input {
  margin: 20px;
  width: 100%;
}

textarea {
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  padding: 30px;
}

/* Attendance Page */
.selectClass {
  display: block;
  height: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 80%;
}

/* Take Attendance Page */

  /* Take Attendance Modal */
  #studentImageCircle {
    float: left;
    max-height: 300px;
    max-width: 300px;
    padding: 30px;
  }

  #studentName {
    font-size: 2em;
  }

  #studentID {
    font-size: 2em;
  }

  .details {
    clear: both;
    font-size: 1.5em;
  }

  /* Take Attendance Dropdown Menu */
  .attendanceValue {
    justify-content: center;
  }

#studentList {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

#classTitle {
  text-align: center;
}

.studentImage {
  float:left;
  max-height: 300px;
  padding: 20px;
}

.markAttendanceP {
  background-color: #90EE90;
  border: 1px;
  color: black;
  height: 50px;
  width: 100%;
}

.markAttendanceL {
  background-color: #FFD700;
  border: 1px;
  color: black;
  height: 50px;
  width: 100%;
}

.markAttendanceE {
  background-color: #87CEEB;
  border: 1px;
  color: black;
  height: 50px;
  width: 100%;
}

.markAttendanceA {
  background-color: #FFB3B3;
  border: 1px;
  color: black;
  height: 50px;
  width: 100%;
}

#submitAttendance {
  display: block;
  margin: 20px auto;
}