<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body class="grey">
  {{#if user}}
  <div class="card grey">
    <h3 class="center">Welcome: {{user.firstname}}</h3>
    <div class="card-action">
      <h5 class="center">Below are your teacher's tools!!</h5>
    </div>
  </div>
  <div class="container center grey">
    <div class="row">
      <div class="col s6">
        <h4>Take Attendance</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/attendance"><i class="material-icons">+</i></a>
      </div>
      <div class="col s6">
        <h4>Behavior Record</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/"><i class="material-icons">+</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h4>Agenda</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" id="agenda" href="/writeagenda"><i class="material-icons">+</i></a>
      </div>
      <div class="col s6">
        <h4>Stats</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/"><i class="material-icons">+</i></a>
      </div>
    </div>
    <div class="row">

      <div class="col s6">
        <h4>Grades</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/"><i class="material-icons">+</i></a>
      </div>
      <div class="col s6">
        <h4>My Schedule</h4>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/"><i class="material-icons">+</i></a>
      </div>
    </div>
  </div>
  {{else}}
  <div id="index-banner" class="parallax-container pad">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-darken-3  ">Technology In Schools</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern respones to improving technology. We cater to teachers and parents. We believe that by making their respective lifes better, they will in turn make their respective students life better.</h5>
        </div>
        <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light blue darken-3">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
  
    <div class="parallax"><img src="image/s3.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up progress</h5>

            <p class="light">We have made the life of a teacher easy. This web app is tailored to teacher's specific needs. Upon login, you will directly fall in love with our custom tailored settings. Come and explore!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">Unlike other Ed-tech apps with boring and complicated UI, we have made this simple. We have done all the heavy lifting in the backend. Our prime goal is your satisfaction.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with and Free!</h5>

            <p class="light">Did I mention that it's free. We do not charge you a cent. Your hard work as Teachers and Parents to the students is truly valued!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern respones to improving technology. We cater to teachers and parents. We believe that by making their respective lifes better, they will in turn make their respective students life better.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/S2.JPG" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="center black-text"></i></h3>
          <h4>Contact Us<a href="/contact">Here</a></h4>
          <p class="left-align light">ENTER A PITCH POINT</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern respones to improving technology. We cater to teachers and parents. We believe that by making their respective lifes better, they will in turn make their respective students life better</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  {{/if}}
</body>

</html>