<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
    {{#if user}}
    <div class="card">
      <h3>Welcome: {{user.firstname}}</h3><br>
      Hi Yesenia - I am a user: How should this page look?
    </div>
    <h4>Take Attendance</h4>
		<a class="btn-floating btn-large waves-effect waves-light red" href="/attendance"><i class="material-icons">+</i></a>
    {{else}}
    <div class="row">
      <div class="col s12 center">
        <div class="carousel">
          <a class="carousel-item" width="100%" height="100%" href="#one!"><img src="image/s2.JPG"></a>
          <a class="carousel-item" width="100%" height="100%" href="#one!"><img src="image/s3.jpg"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 border">
        <p>Have you ever wanted a simple and convenient way to track attendance for your classroom or group? Well, now there
          is a way. TechInSchool.io is an online attendance tracker that helps you simplify the tedious task of keeping attendance.</p>
        <div class="center"><a class="waves-effect waves-light btn">Sign up for free</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="card cards blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Free!</span>
              <p>Yes, it is free. No need to pay an arm and a leg</p>
          </div>
          <div class="card-action">
            <div class="center"><a class="waves-effect waves-light btn">Learn More >></a></div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card cards blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Live Feed!</span>
              <p>Track your quiz or test score the moment a it's posted.</p>
          </div>
          <div class="card-action">
            <div class="center"><a class="waves-effect waves-light btn">Learn More >></a></div>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card cards blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Attendance</span>
            <p>Track your attendance very easy and convenient.</p>
          </div>
          <div class="card-action">
            <div class="center"><a class="waves-effect waves-light btn" href="./attendance">Learn More >></a></div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
</body>

</html>