<body>
  <div class="container" id="class-select">
    <button class="btn waves-effect waves-light selectClass"> Precalculus <br> 8:40 AM </button>
    <button class="btn waves-effect waves-light selectClass"> Algebra 2 <br> 12:10 PM </button>
    <button class="btn waves-effect waves-light selectClass"> Algebra 2 Honors <br> 1:20 PM </button>
  </div>
</body>

<script type="text/javascript">
  $('.selectClass').on("click", function(){
    window.location.href = "./takeAttendance"
  });
</script>
