<body>
  <div class="container" id="class-select">
    {{#each classes}}
      <button class="btn waves-effect waves-light selectClass" id={{id}}> {{classname}} <br> {{timePeriod}} <br> {{day}} </button>
    {{/each}}
  </div>
</body>

<script type="text/javascript">
  $('.selectClass').on("click", function(){
    window.location.href = "./takeAttendance/" + $(this).attr("id");
  });
</script>