<body>
  <div class="container" id="class-select">
    {{#each classes}}
      <button class="btn waves-effect waves-light selectClass"> {{classname}} <br> {{timePeriod}}, {{day}} </button>
    {{/each}}
  </div>
</body>

<script type="text/javascript">
  $('.selectClass').on("click", function(){
    window.location.href = "./takeAttendance"
  });
</script>
