<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container" id="class-select">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-body">
            <h3>Welcome: {{user.firstname}} {{user.lastname}}</h3>
            <a>Your classes are list below - click the button to take attendance</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light blue darken-1 selectClass"> Precalculus <br> 8:40 AM </button>
        <button class="btn waves-effect waves-light blue darken-1 selectClass"> Algebra 2 <br> 12:10 PM </button>
        <button class="btn waves-effect waves-light blue darken-1 selectClass"> Algebra 2 Honors <br> 1:40 PM </button>
      </div>
    </div>
  </div>
</body>

<script type="text/javascript">
  $('.selectClass').on("click", function () {

  });
</script>

</html>