<div class="container">
    <div class="row center">
        <h4>Behavior Records</h4>
        <a class="waves-effect waves-light btn" href="/newBehavior"><i class="material-icons right">alarm_add</i>Create New</a>
    </div>
</div>
<hr>
<table class="striped">
<thead>
    <tr>
        <th>Student Name</th>
        <th>Incident Date/Time </th>
        <th>Situation</th>
        <th>Severity</th>
        <th>Action</th>
        <th>Teacher</th>
    </tr>
</thead>

<tbody>
    <tr>
    <td>Alvin</td>
    <td>4th June, 2018</td>
    <td>He shouted and pull colors</td>
    <td>4.0</td>
    <td>first warning</td>
    </tr>
</tbody>
</table>

<script type="text/javascript">
    var behaviors;
    var tableBody = $("tbody");
    $(document).ready(function(){
        getBehavior();
    });

    function getBehavior(){
        $.get("api/students/behavior", function(data){
            console.log("behavior", data);
            behaviors = data;
            if (!behaviors || !behaviors.length){
                displayEmpty();
            }
            else{
                showBehavior(behaviors);
            }
        });
    }

    function showBehavior(behaviors){
        for (var i=0; i< behaviors.length; i++){
            var newRow = $("<tr>");
            var newStudentName = $("<td>").text(behaviors[i].StudentId);
            var newAction = $("<td>").text(behaviors[i].action);
            var newSeverity = $("<td>").text(behaviors[i].severity);
            var newSituation = $("<td>").text(behaviors[i].situation);
            var teacherName = $("<td>").text(behaviors[i].teacherName);
            var incidentDateTime = $("<td>").text(moment(behaviors[i].date).format("MMM Do YY") +" , " + behaviors[i].time );
            var teacherName = $("<td>").text(behaviors[i].teacherName);
            newRow.append(newStudentName);
            newRow.append(incidentDateTime);
            newRow.append(newSituation);
            newRow.append(newSeverity);
            newRow.append(newAction);
            newRow.append(teacherName);
            tableBody.append(newRow);
        }
    }
</script>