
<body>
  <div class="container" id="class-select">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-body">
            <h4>Enter New Behavior Record</h4>
          </div>
        </div>
      </div>
    </div>
    <form id="b-form">
	<div class="form-group">
            <div class="row">
                <div class="col s6">
                    <h4 for="teacher_name">Teacher Name : {{user.firstname}} {{user.lastname}} - </h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id= "st-name" class="validate">
                        <label for="autocomplete-input">Enter Student</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label>Select Date</label>
                    <input type="text" class="datepicker">
                </div>
                <div class="col s6">
                    <label>Select Time</label>
                    <input type="text" class="timepicker">
                </div>
            </div>

            <div class="row">
            <form class="col s12">
                <label for="situation">Describe the Situation</label>
                <textarea id="situation" class="materialize-textarea"></textarea>
            </form>
            </div>

            <div class="row">
                <div class="col s12">
                        <p class="range-field">
                        <label for="range">Rate the Severity</label>
                        <input type="range" id="severity" min="0" max="10" />
                        </p>
                </div>
            </div>

            <div class="row">
            <form class="col s12">
                    <label for="action">Action taken by Teacher</label>
                <textarea id="action" class="materialize-textarea"></textarea>
            </form>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
    </div>
    </form>

    
{{!-- Class:_______
Time of behavior: ______
Problem:________
What did you as a teacher do to help:______\
Severity (1-10):___ --}}


<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });

    $(document).ready(function(){
        $('.timepicker').timepicker();
    });

    var studentName = $("#st-name");
    var datePicker = $(".datepicker");
    var timePicker = $(".timepicker");
    var situationVal = $("#situation");
    var severityVal = $("#severity");
    var actionVal = $("#action");

    $("#b-form").on("submit", handleFormSubmit);

    function handleFormSubmit(event) {
        event.preventDefault();
      //   Wont submit the post if we are missing a studentName, situation, or date is empty
        if (!studentName.val().trim() || !situationVal.val().trim() || !datePicker.val().trim()) {
            return;
            }
        // Constructing a newPost object to hand to the database
        var fDate = moment(datePicker.val().trim()).format("YYYY-MM-DD");
        var fTime = moment.utc(timePicker.val().trim(), "hh:mm a").format("HH:mm:ss");
        console.log('fTime: ', fTime);
        console.log('fDate: ', fDate);
        var newBehavior = {
            situation: situationVal.val().trim(),
            action: actionVal.val().trim(),
            StudentId: 2,
            studentName: studentName.val().trim(),
            severity : severityVal.val().trim(),
            date : moment(datePicker.val().trim()).format("YYYY-MM-DD"),
            time : moment.utc(timePicker.val().trim(), "hh:mm a").format("HH:mm:ss"),
            teacherName : "{{user.firstname}} {{user.lastname}}"

        };
        console.log('newBehavior: ', newBehavior);


        // If we're updating a post run updatePost to update a post
        // Otherwise run submitPost to create a whole new post
     
        submitBehavior(newBehavior);

    }
        //  Submits a new post and brings user to blog page upon completion
    function submitBehavior(newBehavior) {
        $.post("/api/students/behavior", newBehavior, function() {
            console.log("Post successfull");
            window.location.href = "/behavior";

        });
    }



</script>