<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>General Sign Up</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header red"><i class="material-icons">P</i>Parents</div>
            <div class="collapsible-body"><span>Hi Parents, thank you for visint our site. We appreciate all inquiries. You can contact us <a href="/contact">here</a> directly and allow 24-hours to get back.</span></div>
          </li>
          <li>
            <div class="collapsible-header blue"><i class="material-icons">S</i>Students</div>
            <div class="collapsible-body"><span>Welcome students - first you will have to confirm your emai account, which can be done here <a href="/signupgeneral">here</a>. Then you will create  login credentials that would allow you to login.</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>