<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>


  <div class="alert alert-danger"><h4>{{message}}</h4></div>

  <div class="row">
    <form class="col s12" method="POST" action="/login">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" name="email" placeholder="enter email" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" name="password" class="validate" placeholder="--------" required>
          <label for="password">Password</label>
        </div>
      </div>
      <button class="btn blue darken-3" type="submit">Submit
      </button>
    </form>
  </div>
  <p>Forgot your password? 
    <br>Click <a href="/signup"><strong>here .</strong></a>
  </p>

</body>

</html>