<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>signupgeneral</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <form action="/generalSignup" method="POST">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Enter your email" required>
          </div>
          <div class="form-group">
            <label>School Name</label>
            <input type="text" class="form-control" name="schoolname" value="{{schoolname}}" placeholder="Enter your School Name" required>
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>