<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    {{!-- <h2><span class="fa fa-sign-in"></span>New User</h2> --}}
    <h2 class="left strong">New User</h2>
    <h6 class="left strong">Teachers enter your registered Email address sent to you by your school. 
      If you do not have a registered email address please click <a href="/contact">here.</a></h6>
    
    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger">{{message}}</div>
    <!-- LOGIN FORM -->
    <mark>{{errors}}</mark>
    <form action="/processingemail" method="POST">
      <div class="form-group">
        {{!-- <label>Email</label> --}}
        <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Enter your email" required>
      </div>
      <button type="submit" class="btn btn-warning blue darken-3">Sign Up</button>
    </form>
    <br>

    <h6>Already have an account? <a href="/login">Login</a></h6>
    <h6>Return to the <a href="/">Home</a> page.</h6>

  </div>

</body>

</html>