<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <h6 class="center"><mark>For parents, teachers and students, kindly use the Email sent to you by your school to register. If you have not received email from your school, please contact us <a href="/contact">here</a></mark></h6>
    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger">{{message}}</div>
    <!-- LOGIN FORM -->
    <mark>{{errors}}</mark>
    <form action="/processingemail" method="POST">
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email"  value="{{email}}" placeholder="Enter your email" required>
      </div>
      <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>

</body>

</html>